*{
    margin:0px;
    padding:0px;

}
/* Margine */
.marginone{
    margin:50px;
    /* all four*/
    margin:100px 50px;
    border:2px solid black;
}

.header{
    text-align:center;
    color:red;
}

.margintwo{
    margin-top:20px;
    border:2px solid black;
}

/* Padding */
.padding{
    padding:50px;
    /* padding-top, padding-bottom */
    /* padding:50px 100px 2px 3px; */
    border:2px solid black;

}

/* Inline */
.inline{
    border:1px solid red;
    width:300px;
    /* display:inline-block;  can use inline and block*/
    display:block; 
    /* it become block */
}

/* Block */

.block{
    border:2px solid red;
    width:400px;
    display:inline-block;
}

/* Float */

.float-left img{
    width:30%;
    float:left;


}

.clear{
    clear:both;
}

.float_right img{
    width:30%;
    float:right;
}

/* grid */
.gridone div, .gridtwo div, .gridthree div, .gridfour div{
    padding:20px;
    text-align:center;
    color:white;
    
}

.gridone, .gridtwo, .gridthree, .gridfour{
    display:grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: 300px 400px auto; */
    margin-top:20px;
}

.gridtwo{
    grid-column-gap:30px;
    grid-row-gap:50px;
    /* grid-gap:40px; */
   
}

.rowadd{
    grid-row-start: 1;
    grid-row-end: 3;
}

.columnadd{
    grid-column-start: 1;
    grid-column-end: 3;
}


/* Position */
/* Position relative */

.relative_parent{
    border:1px solid red;
    width:1000px;
    height:400px;

}

.relative{
    border:1px solid black;
    width:300px;
    height:200px;
    position:relative;
    top:100px; 
    left:200px;
}

/* Position Absolute */
/* html mha start */
.absolute_parent{
    border:1px solid red;
    width:1000px;
    height:400px;


}
/* //document mha start */
.absolute{
    border:1px solid black;
    width:300px;
    height:200px;
    position:absolute;
    top:800px;
    right:300px;
}


/* Position Fixed
document mha start 
call mha appear
scroll lae appear */
.fixed{
    position:fixed;
    top:100px;
    left:200px;
}


/* Font Online */
.online{
    font-family: 'Inconsolata', monospace;
font-family: 'Poppins', sans-serif;
}


/* Font Offline */
@font-face {
    src: url(Kolker_Brush/KolkerBrush-Regular.ttf);
    font-family: Kolker_Brush;
}

.offline{
    font-family: Kolker_Brush;
    font-size: 50px;
}

@font-face {
    src: url(Bebas_Neue/BebasNeue-Regular.ttf);
    font-family:Bebas_Neue ;
}

.offlinetwo{
    font-family:Bebas_Neue ;
}

