*{
    margin:0px;
    padding:0px;
}

/* navbar */
.navbar ul{
    float:right;
    margin-top: 7px;
}

.navbar ul li{
    display:inline-block;
    padding:0px 15px;
}

.nav_brand{
    display:inline-block;
    margin-left:40px;
}

.navbar{
    padding:20px;

}

.nav_brand a{
    text-decoration: none;
    font-size: 24px;
    color:rgb(80, 192, 220)
}

.navbar ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}

.navbar ul li a:hover{
    color:rgb(80, 192, 220);
    letter-spacing: 5px;
    transition-duration:.7s;
}

.cart_noti{
    position:relative;
    bottom: 15px;
    background-color: black;
    color:white;
    display:inline-block;
    width:20px;
    text-align: center;
    left:-5px;
    border-radius: 50%;

}

/* bunner */

@font-face {
    src: url(Bebas_Neue/BebasNeue-Regular.ttf);
    font-family:Bebas_Neue ;
}



.bunner_image{
    width:100%;
}

.bunner_text{
    position:absolute;
    top :250px;
    left :100px;

}

.shop_now{
    padding: 10px 20px;
    border-radius:5px;
    border:none;
    margin-top:20px;
}

.shop_now:hover{
    background-color: black;
    color:white;
    cursor:pointer;
}

.bunner_header{
    margin-bottom:10px;
    font-family:Bebas_Neue ;
}

/* Categary */

.category-title{
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}

.category center a{
    text-decoration: none;
    color: black;
    border :1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top:10px;
}

.category{
    margin-left:300px;
    margin-right :300px;
}

.category center a:hover{
    color:white;
    background-color: rgb(80, 192, 220); 
    border: 3px solid rgb(80, 192, 220);
}


/* New Arrival */

.title{
    border-left:2px solid rgb(80, 192, 220);
    margin-left: 100px;
    padding-left:30px;
    margin-top: 50px;
}

.new_arrival{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    margin-left:70px;
    margin-right:60px;
    grid-row-gap:10px;
}

/* Blog */

.blog{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap:30px;
    margin-top: 40px;
    margin-left:70px;
    margin-right: 70px;
}

.blog_img{
    width:100%;
    border-radius:5px 5px;
    transition-duration:1s;
    /* transition:.6s ease; */
}

.calender{
    color:rgb(80, 192, 220);
    padding-left:15px;
}

.read_more{
    text-decoration: none;
    color:rgb(80, 192, 220);
    padding-left:15px;
    padding-bottom:30px;
    padding-top:5px;
    display: inline-block;
}

.blog div{
    box-shadow:-5px -10px 10px rgba(148, 186, 195, 0.50);
}

.blog div h3{
    padding:5px 15px;
    text-align: justify;
}

.image_zoom{
    width:100%;
    height:200px;
    display:inline-block;
    overflow:hidden;

}

.blog_img:hover{
    transform:scale(1.3);
}

/* available image */

.available_image{
    background-image: url(../Images/iphone1.png);
    display:inline-block;
    height: 200px;
    width:200px;
    z-index:1;
}

.available_image:hover{
    background-image: url(../Images/iphone.png);
    z-index:2;
}

.more_item {
    
    text-align: center;
    padding-top:20px;
    
}

.more_item a{
    text-decoration: none;
    text-align: center;
}

.more_item a:hover{
    color:black;
}

/* Start Support */

.support{
    display:grid;
    grid-template-columns:auto auto auto auto;
    margin-top:70px;
    background-color: rgb(160, 157, 157);
    padding:30px;
}

.support div p{
    display: inline-block;
    padding-left: 5px;
    
}

.support div p span{
    font-weight: bold;
    display:block;
    font-size:20px;
}

/* footer start */

.footer{
    background-color: rgb(31, 31, 31);
    padding-top:50px;
}

.footer .center a{
    display: inline-block;
    text-decoration: none;
    color:white;
    margin: 20px 15px;
}

.design_by{
    color:white;
}

.footer_icon{
    color:white;
    padding:20px 5px 40px;
}



    